@forward "vexip-ui/style/card" with (
    $card: (
        border: 0,
        shadow: none,
        bg-color: transparent,
        b-color: transparent,
        body-v-padding: 0,
        body-h-padding: 0,
    ),
);
