@use "../vars/colors";
@use "../vars/spaces";

@forward "vexip-ui/style/drawer" with (
    $drawer: (
        header-v-padding: spaces.$space-8,
        header-h-padding: spaces.$space-8,
        close-color: colors.$color-white,
    ),
);
