@use "../vars/spaces";

@forward "vexip-ui/style/space" with (
    $space: (
        v-gap: spaces.$space-3,
        h-gap: spaces.$space-3,
    ),
);

.vxp-space-vars.vxp-space--large {
    --vxp-space-v-gap: #{spaces.$space-7};
    --vxp-space-h-gap: #{spaces.$space-7};
}

.vxp-space-vars.vxp-space--small {
    --vxp-space-v-gap: #{spaces.$space-1};
    --vxp-space-h-gap: #{spaces.$space-1};
}

.vxp-space {
    @apply w-full;
    @apply text-inherit;
}
