@use "../vars/colors";
@use "../vars/sizes";

@forward "vexip-ui/style/switch" with (
    $switch: (
        height: sizes.$switch-height,
        bg-color-open: colors.$color-secondary,
        signal-bg-color: colors.$color-secondary,
    ),
);

.vxp-switch-vars.vxp-switch--open {
    --vxp-switch-signal-bg-color: #{colors.$color-primary};
}
