@use "../vars/colors";
@use "../vars/spaces";

@forward "vexip-ui/style/table" with (
    $table: (
        cell-v-padding: spaces.$space-9,
        cell-h-padding: spaces.$space-9,
        bg-color: rgba(colors.$color-black, 0.06),
        b-color: colors.$color-grey-dark,
        row-b-color-bottom: colors.$color-grey-dark,
    ),
);

.vxp-table {
    @apply border-grey-extra-dark;
    @apply rounded-5;
}

.vxp-table__head {
    @apply text-level-4 font-semibold;
}

.vxp-table__content {
    @apply py-5;
}
