@use "../vars/typography";

@forward "vexip-ui/style/typography" with (
    $text: (
        color: inherit,
    ),

    $title: (
        font-size-level-1: typography.$font-size-level-1,
        font-size-level-2: typography.$font-size-level-2,
        font-size-level-3: typography.$font-size-level-3,
        font-size-level-4: typography.$font-size-level-4,
        font-size-level-5: typography.$font-size-level-5,
        font-size-level-6: typography.$font-size-level-6,
        font-weight: 700,
        font-weight-thin: 400,
        color: inherit,
    ),
);

.vxp-title {
    @apply m-0;
}

.vxp-text {
    @apply font-size-inherit;
}
