.card {
    --rounded-box: theme("space.4");

    @apply w-full;
}

.card.card-bordered {
    @apply border-white/[0.12];
}

.card .card-body {
    --padding-card: 0;
}

.card.card-normal .card-body {
    --padding-card: theme("space.4");
}
