$blue: #1894D0;
$blue-dark: #027DC8;
$grey-dark: #1B1B1C;
$grey-extra-dark: #151515;
$grey-light: #D9D9D9;
$pink: #8B5CF6;
$purple-dark: #0F172A;
$yellow: #FDBA0A;
$black: #000000;

$white: #FFFFFF;

$accent-extra-light: #3D98FF;
$accent-light: #3A82F7;
$accent-medium: #3478F6;
$accent-medium-light: #5991FF;
$accent-watery: #3D98FF;

$negative-dark: #A01B24;
$negative-light: #FA4942;
$negative-medium: #D8222F;

$positive: #219653;
$positive-dark: #044227;
$positive-light: #3BCF5E;

$warning-medium: #FF9500;

$error: #D8222F;
$info: #3D98FF;
$success: #3BCF5E;
$warning: #FF9500;

$primary: #3478F6;
$secondary: rgba(255, 255, 255, 0.12);

