@use "~/assets/styles/vars/breakpoints";
@use "~/assets/styles/vars/colors";
@use "~/assets/styles/vars/typography";

@forward "vexip-ui/style/design" with (
    $break-point-xxl: breakpoints.$breakpoint-lg,
    $break-point-xl: breakpoints.$breakpoint-lg,
    $break-point-lg: breakpoints.$breakpoint-lg,
    $break-point-md: breakpoints.$breakpoint-md,
    $break-point-sm: breakpoints.$breakpoint-sm,
    $break-point-map: (
        xxl: (
            min-width: breakpoints.$breakpoint-md,
        ),
        xl: (
            min-width: breakpoints.$breakpoint-md,
        ),
        lg: (
            min-width: breakpoints.$breakpoint-md,
        ),
        md: (
            min-width: breakpoints.$breakpoint-md,
        ),
        sm: (
            min-width: breakpoints.$breakpoint-sm,
        ),
        xs: (
            min-width: breakpoints.$breakpoint-xs,
        ),
    ),

    $bg-color-map: (
        base: colors.$color-grey-dark,
    ),

    $color-black: colors.$color-black,
    $color-white: colors.$color-white,
    $color-map: (
        primary: (
            base: colors.$color-primary,
        ),
        info: (
            base: colors.$color-info,
        ),
        success: (
            base: colors.$color-success,
        ),
        warning: (
            base: colors.$color-warning,
        ),
        error: (
            base: colors.$color-error,
        ),
    ),

    $content-color-map: (
        primary: colors.$color-white,
        base: colors.$color-white,
    ),

    $fill-color-map: (
        background: colors.$color-grey-dark,
    ),

    $font-family-map: (
        base: Montserrat,
        mono: Montserrat,
    ),

    $font-size-map: (
        base: typography.$font-size-normal,
    ),

    $line-height-map: (
        base: typography.$line-height-normal,
    ),
);
