@use "color-palette";

@use "@material/theme" as theme with (
    $primary: color-palette.$primary,
    $secondary: color-palette.$secondary,
    $surface: color-palette.$grey-dark,
    $background: color-palette.$grey-dark,
    $error: color-palette.$error,
);

:root {
    --mdc-theme-primary: #{color-palette.$primary};
    --mdc-theme-secondary: #{color-palette.$secondary};
    --mdc-theme-surface: #{color-palette.$grey-dark};
    --mdc-theme-background: #{color-palette.$grey-dark};
    --mdc-theme-error: #{color-palette.$error};

    --mdc-shape-small: 0.5rem;
}
