$layout-max-width: 1280px

$layout-header-height-lg: 70px
$layout-header-height-md: 70px
$layout-header-height-sm: 70px
$layout-header-height-xs: 70px

$layout-footer-height-lg: 360px
$layout-footer-height-md: 400px
$layout-footer-height-sm: 600px
$layout-footer-height-xs: 680px
