$layout-width: 128rem

$header-height-lg: 7rem
$header-height-md: 7rem
$header-height-sm: 7rem
$header-height-xs: 7rem

$footer-height-lg: 36rem
$footer-height-md: 40rem
$footer-height-sm: 60rem
$footer-height-xs: 68rem

$button-height: 4.8rem
$input-height: 4.4rem
