$layout-width: 128rem

$game-preview-height-lg: 39.4rem
$game-preview-height-md: 27.4rem
$game-preview-height-sm: 52.4rem
$game-preview-height-xs: 30.7rem

$button-height: 4.8rem
$input-height: 4.4rem
$switch-height: 2.4rem

$avatar-size: 4.5rem
$dot-size: 0.8rem
