$font-size-lg: 1.6rem
$font-size-normal: 1.4rem
$font-size-sm: 1.2rem

$font-size-level-1: 3.6rem
$font-size-level-2: 3rem
$font-size-level-3: 2.4rem
$font-size-level-4: 1.7rem
$font-size-level-5: 1.7rem
$font-size-level-6: 1.4rem

$line-height-normal: 1.5em

$line-height-level-1: 4.4em
$line-height-level-2: 3.7em
$line-height-level-3: 2.9em
$line-height-level-4: 2.1em
$line-height-level-5: 2.1em
$line-height-level-6: 1.7em
